# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.ipr
*.iws
out/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Gradle
# =========================
.gradle/
build/

# =========================
# Spring Boot
# =========================
HELP.md

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Frontend
# =========================
foodstore-frontend/node_modules/
foodstore-frontend/dist/